body {
  background: #fdf3f3;
  font-family: "Roboto", sans-serif;
}
form {
  margin-bottom: 25px;
}

hr {
  opacity: 0.3;
}
header {
  text-align: center;
}
h1 {
  font-size: 40px;
  font-weight: 500px;
  line-height: 1.7;
  margin-bottom: 0;
  padding-bottom: 0;
}
h2 {
  margin: 0 auto;
}
h2 .temp {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  font-size: 74px;
  font-weight: 500;
  line-height: 1;
  position: relative;
  right: -95px;
}
header p {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;

  padding-bottom: 0;
}
strong {
  color: #a070a1;
}
.weather-forecast-day {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.9;
  padding: 20px;
}

footer {
  color: rgba(39, 33, 66, 0.4);
  text-align: center;
  margin: 30px 0 10px 0;
  font-size: 14px;
}
a {
  color: #724060;
  text-decoration: none;
}
.container {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  background: white;
  border-radius: 10px;
}
.typecity {
  background-color: #fdf3f3;
  font-size: 16px;
  padding: 20px;
  border: none;
  border-radius: 4px;
  line-height: 1;
  width: 60%;
}
.image {
  height: 74px;
  width: 74px;
}
.search {
  background: #a070a1;
  color: white;
  font-size: 16px;
  padding: 20px 38px;
  border: none;
  border-radius: 4px;
  line-height: 1;
  margin-left: 5px;
}
.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 0px;
  border: 1px solid rgba(39, 33, 66, 0.4);
  border-radius: 6px;
}
.temp-max {
  font-size: 16px;
  font-weight: bolder;
}
.temp-min {
  font-size: 16px;
}
